<div id="inForms" class="row">
    <div class="col">
        <form>
            <div class="row">
                <div class="col">
                    <h4>Add Owner</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First Name" ng-model="vm.owner.firstName">
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="vm.owner.lastName">
                    <input type="text" class="form-control" placeholder="City Name" ng-model="vm.owner.city">
                  Add a picture  <select class="form-control" ng-model="vm.owner.image_path">
                        <option value="Roger_Radcliffe.png">Male</option>
                        <option value="princess.jpeg">Female</option>
                    </select>
                    <button ng-click="vm.postOwner(vm.owner)" type="submit" class="btn btn-primary">submit</button>
                </div>
 
            </div>
    </div>
    </form>
</div>
</div>





<div class="row">
    <div class="col-4" ng-repeat="owner in vm.getOwners.list">
        <div class="card" style="width: 18rem;">
            <img id="size" class="card-img-top" ng-src="../picture/{{owner.image_path}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Owner First Name: {{owner.firstName}}</p>
                <p class="card-text">Owner Last Name: {{owner.lastName}}</p>
                <p class="card-text">Owner City: {{owner.city}}</p>
                <button ng-click="vm.deleteOwner(owner.id)">DELETE</button>
            </div>