<form>

        <div class="form-group"> <!-- Full Name -->
            <label for="full_name_id" class="control-label">Full Name</label>
            <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="Pet Name">
        </div>	
    
        <div class="form-group"> 
            <label for="street1_id" class="control-label">Color</label>
            <input type="text" class="form-control" id="street1_id" name="Color" placeholder="Color Of Pets">
        </div>					
                                         
        <div class="form-group"> 
            <label for="state_id" class="control-label">Type</label>
            <select ng-model="" class="form-control" id="state_id">
                <option value="dog.jpeg">Dog</option>
                <option value="cat.jpeg">Cat</option>
            </select>					
        </div>	
        
        <div class="form-group"> <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">submit</button>
        </div>     
        
    </form>							
  

<div class="row">
    <div class="col-4" ng-repeat="pets in vm.getPets.list">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" ng-src="../picture/{{pets.image_path}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Name: {{pets.name}}</p>
                <p class="card-text">Color: {{pets.color}}</p>
                <p class="card-text"> Type:{{pets.type}}</p>
                <p class="card-text">Breed: {{pets.breed}}</p>
                <p class="card-text">Age: {{pets.age}}</p>
                <p class="card-text">CheckIn: {{pets.checkIn}}</p>
                <!-- <button ng-click="vm.DeleteHouse(id)">Delete</button> -->
            </div>
        </div>
    </div>