
<form>

    <div class="form-group">
        <label for="full_name_id" class="control-label">Pet Name</label>
        <input type="text" class="form-control" id="full_name_id" name="pet Name" placeholder="Pet Name" ng-model="vm.show.name">
    </div>

    <div class="form-group">
        <label for="street1_id" class="control-label">Color</label>
        <input type="text" class="form-control" id="street1_id" name="Color" placeholder="Color Of Pets" ng-model="vm.show.color">
    </div>
    <div class="form-group">
        <label for="street1_id" class="control-label">Breed</label>
        <input type="text" class="form-control" id="street1_id" name="Breed" placeholder="Breed Of Pets" ng-model="vm.show.breed">
    </div>
    <div class="form-group">
        <label for="street1_id" class="control-label">Age</label>
        <input type="number" class="form-control" id="street1_id" name="Age" placeholder="Age Of Pets" ng-model="vm.show.age">
    </div>
    <div class="row">
        <div class="col">
            <label>Select Owner</label>
            <select class="form-control" ng-model="vm.show.owner_id">
                <option ng-repeat="owner in vm.getOwner.list" value="{{owner.id}}">{{owner.firstName}}</option>
            </select>
        </div>
        <select ng-model="vm.show.image_path" class="form-control">
            <option value="dog.jpeg">Dog</option>
            <option value="cat.jpeg">Cat</option>
        </select>
    </div>

    <div class="form-group">
        <button ng-click="vm.post(vm.show)" type="submit" class="btn btn-primary">submit</button>
    </div>

</form>




<div class="row">
    <div class="col-4" ng-repeat="pets in vm.getPets.list">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" ng-src="../picture/{{pets.image_path}}" alt="Card image cap">
            <div class="card-body">
                <div ng-if="pets.editMode">
                    <input ng-model="pets.name">
                    <input ng-model="pets.color">
                    <input ng-model="pets.breed">
                    <input ng-model="pets.age">
                

                </div>
                <div ng-if = "!pets.editMode">
                        <p class="card-text">Name: {{pets.name}}</p>
                        <p class="card-text">Color: {{pets.color}}</p>
                        <p class="card-text">Breed: {{pets.breed}}</p>
                        <p class="card-text">Age: {{pets.age}}</p>
                        <p class="card-text">Owner: {{pets.firstName}}</p>
                </div>
                <button ng-if="pets.editMode" ng-click="vm.cancelEditMode(pets)">Cancel</button>
                <button ng-if="pets.editMode" ng-click="vm.savePet(pets)">Save</button>
                <button ng-if="!pets.editMode" ng-click="vm.edit(pets)">Edit</button>
                <button ng-click="vm.PetId(pets)">Remove Pet</button>
                <button ng-click="vm.checkIn(pets)">CheckIn</button>
            </div>
        </div>
    </div>

        
    

   